.task {
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    font-size: 14px;
}

.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body {
    padding: 10px 20px;
    min-height: 60px;
}