<!-- Add event binding for form submit... -->
<form 
style="margin-bottom: 10px"
>

<!-- Apply ngModel to this input... -->
<input
    class="input"
    type="text"
    placeholder="title"
    #title
/>
<!-- Markup for error messages... -->
<div class="error">
</div>

<!-- Apply ngModel to this input... -->
<input
    class="input"
    type="text"
    placeholder="description"
    #description
/>

<!-- Disable button if form is invalid. -->
<button type="submit" (click)="onClick(title.value,description.value)">
    Save
</button>
</form>